* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0e17;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.kotakCentang {
  display: block;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.kotakCentang div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.kotakCentang input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.kotakCentang input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transisi {
  transition: 300ms ease;
}
